@import 'reset', 'variables';

body {
	background-color: $black-color;
	max-width: 100dvw;
	min-height: 100dvh;
}

main {
	display: flex;
	flex-direction: column;
	gap: 64px;
	width: 100%;
	height: 100%;
	min-height: 100dvh;
}

b {
	font-weight: bold;
}

.photo {
	border: 6px solid white;
	width: fit-content;
	height: fit-content;
	min-width: 300px;
	max-height: 500px;
	object-fit: contain;
}

a.underline {
	transition: all 200ms ease-out;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}
